body{
  overflow: hidden;
}
.header{
  width: 100%;
  aspect-ratio: 7/1;
	background: repeating-linear-gradient(90deg, #222, #191970, #191970 ,#222, #191970);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.header h1, h2 {
  color:white;
}

.game-controls{
  width: 100%;
  aspect-ratio: 50/1;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  padding: 5px 0;
}
.game-controls div button{
  height: 100%;
}

.btn{
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.5s ease-in;
  border:0px;
}

.btn:hover{
  transform: scale(1.02,1.02);
}

.btn:active{
  opacity: 0.9;
}
.new-game-btn{
  color:midnightblue;
  transition: color 0.5s ease-in, background-color 0.5s ease-in  ;

}
.new-game-btn:hover{
  background-color:midnightblue ;
  color:white
}

.easy-btn{
  color:green;
  transition: color 0.5s ease-in, background-color 0.5s ease-in  ;

}
.easy-btn:hover{
  background-color:green;
  color:white
}
.hard-btn{
  color:red;
  transition: color 0.5s ease-in, background-color 0.5s ease-in  ;

}
.hard-btn:hover{
  background-color:red ;
  color:white
}

.div-boxes{
  width: 100%;
  height: 61%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box{
  width:18%;
  aspect-ratio: 4/3;
  border-radius: 20px;
  margin-left: 20px;
}